- var now = Date.now();

doctype html
html(lang='ja' prefix="og: https://ogp.me/ns#")
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='Visualizer for result of triathlon')
        meta(name='author' content='Fuka AMAMIYA')

        meta(property='og:title' content='Trist')
        meta(property='og:type' content='website')
        meta(property='og:description' content='Visualizer for result of triathlon')
        meta(property='og:url' content='https://trist.amamiya-studio.com/?race=fuji2024')
        meta(property='og:image' content='https://trist.amamiya-studio.com/assets/large_card_image.png')
        meta(property='og:image:width' content='742')
        meta(property='og:image:height' content='568')
        meta(property='og:image:type' content='image/png')
        meta(property='og:locale' content='ja JP')
        meta(property='og:locale:alternate' content='en US')

        meta(name='twitter:card' content='summary_large_image')
        meta(name='twitter:creator' content='@AmamiyaFuka')
    //-
        
    -//

        title Trist - Visualizer for result of triathlon

        // Favicon
        link(rel='icon' type='image/webp' href='assets/favicon.ico')

        // Core theme CSS (includes Bootstrap)
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css')
        link(rel='stylesheet' href='css/styles.css?' + now)

        script(src='https://cdn.jsdelivr.net/npm/chart.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js')
        script(src='js/scripts.mjs?' + now type='module')

    body(style='background-image: url("assets/bg_body.png");')
        header.d-flex.flex-row-reverse.flex-wrap.justify-content-between(style='background-image: url("assets/trist_logo.png"); \
            background-size: auto 2rem;')
            h1.d-none Trist
            .btn.btn-light.bi-list.px-1.py-0.mx-3.my-1(data-bs-toggle='modal' data-bs-target='#navi')
            .d-grid.ms-auto.gap-3(style='grid-auto-flow: column; grid-template-columns: 1fr 1fr 1fr;' data-bs-theme='dark')
                .btn.btn-dark.btn-menu(data-bs-toggle='modal' data-bs-target='#navi' data-tab='#navi a[data-bs-target="#race-tab"]') Race 
                    span.bi-grid-fill
                .btn.btn-dark.btn-menu(data-bs-toggle='modal' data-bs-target='#navi' data-tab='#navi a[data-bs-target="#member-tab"]') Member
                    span.bi-person-plus-fill
                .btn.btn-dark.btn-menu(data-bs-toggle='modal' data-bs-target='#navi' data-tab='#navi a[data-bs-target="#group-tab"]') Group 
                    span.bi-filter



        nav#navi.modal
            .modal-dialog.modal-dialog-scrollable
                .modal-content
                    .modal-header 
                        .nav.nav-pills.nav-justified
                            a.nav-link.active(data-bs-toggle='tab' data-bs-target='#race-tab') Race
                            a.nav-link(data-bs-toggle='tab' data-bs-target='#member-tab') Member
                            a.nav-link(data-bs-toggle='tab' data-bs-target='#group-tab') Group
                        button.btn-close(type='button' aria-label='Close' data-bs-dismiss='modal')
                    .modal-body.tab-content.p-0.m-3 
                        .tab-pane.fade.show.active#race-tab
                            #race_list.d-flex.flex-row.flex-wrap
                            #race_list_divider_template.d-none.row.flex-nowrap.align-items-center.fs-6.overflow-hidden.w-100.sticky-top.bg-body 
                                p.year_value.col-auto.m-0 
                                hr.col.m-0
                            a#race_list_item_template.d-none.btn.btn-outline-dark.rounded-pill.mx-1.my-2.px-2.py-1

                        .tab-pane.fade#member-tab
                            .d-flex
                                h5.align-self-center.me-3.mt-auto.mb-auto Add
                                label.align-self-center.flex-grow-1
                                    input#new_member_input.w-100(placeholder='名前, ゼッケン番号') 
                            ul.d-none
                                li#member_list_template.member-list-item.list-group-item.d-flex 
                                    span.display_name.align-self-center 
                                    span.number.align-self-center 
                                    button.btn.ms-auto 
                                        svg.user-plus(version='1.1' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32')
                                            use(xlink:href='assets/icon/user-plus.svg#root')
                                        svg.user-minus(version='1.1' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32')
                                            use(xlink:href='assets/icon/user-minus.svg#root')
                            ul#new_member_list.list-group.mt-2
                            h5 Members
                            ul#member_list.list-group

                        .tab-pane.fade#group-tab
                            p お試し
                                select#group.form-select(multiple=true)

        // Content section
        section#course
            h1.course_name
            #course_summary

        #view
            section.view.bg-record#view_record
                h3.course_name
                h2.marker-record 
                    span.lap_name 総合
                    span.distance
                .chart
                    canvas
                ul.ranking 
                    li.template#ranking_item 
                        span.circle 
                        span.display_name Name
                        span.time 00:12:32
                        span.delta +12:32

            section.view.bg-swim#view_swim
                h3.course_name
                h2.marker-swim スイム
                    img.icon_in_text(src='assets/icon/swim.png')
                    span.distance
                .chart
                    canvas
                ul.ranking 

            section.view.bg-bike#view_bike
                h3.course_name
                h2.marker-bike バイク
                    img.icon_in_text(src='assets/icon/bike.png')
                    span.distance
                .chart
                    canvas
                ul.ranking 

            section.view.bg-run#view_run
                h3.course_name
                h2.marker-run ラン
                    img.icon_in_text(src='assets/icon/run.png')
                    span.distance
                .chart
                    canvas
                ul.ranking

            section#lap_time.view.summary.d-none
                h3.course_name 
                h2.marker-lap_time タイム
                #lap_time_chart(style="display: grid; \
                    grid-auto-rows: 2ex 2.7rem; \
                    row-gap: 0.1rem;")
                #lap_time_row.d-none
                    .name
                    .time_bar 
                    .time.swim 
                    .time_bar 
                    .time.bike
                    .time_bar
                    .time.run
                    .time_bar
                    .dummy 

                    .stack_bar.swim
                        img(src='assets/icon/swim.png')
                    .stack_bar.bike
                        img(src='assets/icon/bike.png')
                    .stack_bar.run
                        img(src='assets/icon/run.png')
                    .dummy

            section#lap_score.view.summary.d-none
                h3.course_name 
                h2.marker-lap_time 
                    | スコア
                    span.btn.bi-info-circle(style='padding: 0.2rem 0.5rem; vertical-align: baseline;'
                        data-bs-toggle='tooltip' 
                        data-bs-placement='top' 
                        data-bs-title='レース結果を母集団とした偏差値です')
                #lap_score_chart
                    #lap_score_footer_start
                    .dummy 
                    .bar.bar-end
                    .dummy 
                    .score-bg.score-bg-l.score-bg-b 
                    .bar.bar-center.bar-end
                    .score-bg.score-bg-r.score-bg-b 
                    .dummy 
                #lap_score_row.d-none
                    .dummy 
                    .dummy 
                    .bar 
                    .dummy 
                    .score-bg.score-bg-l 
                    .bar.bar-center 
                    .score-bg.score-bg-r 
                    .dummy

                    .name

                    .picto 
                        img(src='assets/icon/swim.png')
                    .swim.stack_bar 
                    .score-bg.score-bg-l 
                    .score-bg.score-bg-r 
                    .dummy 

                    .picto 
                        img(src='assets/icon/bike.png')
                    .bike.stack_bar 
                    .score-bg.score-bg-l 
                    .score-bg.score-bg-r 
                    .dummy 

                    .picto 
                        img(src='assets/icon/run.png')
                    .run.stack_bar 
                    .score-bg.score-bg-l 
                    .score-bg.score-bg-r 
                    .dummy 

        section#share-list 
            ul.share-container
                li.share-item Share by
                li#share-link.share-item.btn
                    img(src='assets/icon/link.png')
                li#share-qr.share-item.btn
                    img(src='assets/icon/qrcode.png')
                li#share-x.share-item.btn
                    a#share-x-link
                        img(src='assets/icon/x-logo-black.png')

        // Footer
        footer.py-3(style="background-color: hsl(240deg, 80%, 8%);")
            .container
                p.m-0.text-center.text-white
                    img.img-fluid.rounded-1.me-2.mb-2.fs-4.emoji(src='assets/rotate_umbllera_2024-04-25.webp')
                    | Amamiya &copy; 2024

        // Toast
        .toast-container.position-fixed.bottom-0.end-0.pe-3
            #hide_toast.toast.alert.p-0(data-bs-autohide='true')
                .toast-header 
                    strong.toast-message.me-auto Hello, world 
                    button.btn-close(data-bs-dismiss='toast')
                .toast-body.d-none
            #no_hide_toast.toast.alert.p-0(data-bs-autohide='false')
                .toast-header 
                    strong.toast-message.me-auto Hello, world 
                    button.btn-close(data-bs-dismiss='toast')
                .toast-body

        .icons.d-none
            //- 利用するSVGアイコンすべて読み込んでおく
            .icons.d-none
                svg#icon_user-plus(version='1.1' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32')
                    use(xlink:href='assets/icon/user-plus.svg#root')
                svg#icon_user-minus(version='1.1' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32')
                    use(xlink:href='assets/icon/user-minus.svg#root')

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')
