- var now = Date.now();

doctype html
html(lang='ja' prefix="og: https://ogp.me/ns#")
    head
        meta(charset='utf-8')
        link(rel='manifest' href='manifest.json')

        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='Visualizer for result of triathlon')
        meta(name='author' content='Fuka AMAMIYA')

        meta(property='og:title' content='Trist')
        meta(property='og:type' content='website')
        meta(property='og:description' content='Visualizer for result of triathlon')
        meta(property='og:url' content='https://trist.amamiya-studio.com/?race=fuji2024')
        meta(property='og:image' content='https://trist.amamiya-studio.com/assets/large_card_image.png')
        meta(property='og:image:width' content='742')
        meta(property='og:image:height' content='568')
        meta(property='og:image:type' content='image/png')
        meta(property='og:locale' content='ja JP')
        meta(property='og:locale:alternate' content='en US')

        meta(name='twitter:card' content='summary_large_image')
        meta(name='twitter:creator' content='@AmamiyaFuka')

        title Trist - Visualizer for result of triathlon

        // Favicon
        link(rel='icon' type='image/png' href='/assets/icon/trist-128.png')
        link(rel='apple-touch-icon' href='/assets/icon/trist-192-home.png')


        // Core theme CSS (includes Bootstrap)
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css')
        link(rel='stylesheet' href='css/styles.css?' + now)

        script(src='https://cdn.jsdelivr.net/npm/chart.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js')
        script(src='js/scripts.mjs?' + now type='module')

    body(style='background-image: url("assets/bg_body.png");')
        header.d-flex.flex-row-reverse.flex-wrap.justify-content-between(style='background-image: url("assets/trist_logo.png"); \
            background-size: auto 2rem;')
            h1.d-none Trist
            button.btn.btn-light.bi-question-lg.px-1.py-0.mx-3.my-1(data-bs-toggle='offcanvas' data-bs-target='#configure')
            .d-grid.ms-auto.gap-3(style='grid-auto-flow: column; grid-template-columns: 1fr 1fr 1fr;' data-bs-theme='dark')
                .btn.btn-dark.btn-menu(data-bs-toggle='modal' data-bs-target='#navi' data-tab='#navi a[data-bs-target="#race-tab"]') Race 
                    span.bi-grid-fill
                .btn.btn-dark.btn-menu(data-bs-toggle='modal' data-bs-target='#navi' data-tab='#navi a[data-bs-target="#athlete-tab"]') Athlete
                    span.bi-person-circle
                .btn.btn-dark.btn-menu(data-bs-toggle='modal' data-bs-target='#navi' data-tab='#navi a[data-bs-target="#group-tab"]') Group 
                    span.bi-filter



        nav#navi.modal
            .modal-dialog.modal-dialog-scrollable
                .modal-content
                    .modal-header 
                        .nav.nav-pills.nav-justified
                            a.nav-link.active(data-bs-toggle='tab' data-bs-target='#race-tab') Race
                            a.nav-link(data-bs-toggle='tab' data-bs-target='#athlete-tab') Athlete
                            a.nav-link(data-bs-toggle='tab' data-bs-target='#group-tab') Group
                        button.btn-close(type='button' aria-label='Close' data-bs-dismiss='modal')
                    .modal-body.tab-content.p-0.m-3 
                        .tab-pane.fade.show.active#race-tab
                            #race_list.d-flex.flex-row.flex-wrap
                            .template#race_list_divider_template.row.flex-nowrap.align-items-center.fs-6.overflow-hidden.w-100.sticky-top.bg-body 
                                p.year_value.col-auto.m-0 
                                hr.col.m-0
                            a.template#race_list_item_template.btn.btn-outline-dark.rounded-pill.mx-1.my-2.px-2.py-1
                                span

                        .tab-pane.fade#athlete-tab
                            .d-flex
                                h5.align-self-center.me-3.mt-auto.mb-auto Add
                                label.align-self-center.flex-grow-1
                                    input#new_athlete_input.w-100(type='search' placeholder='名前, ゼッケン番号') 
                            ul#new_athlete_list.list-group.mt-2
                                li.template#athlete_list_template.athlete-list-item.list-group-item.d-flex 
                                    span.display_name.align-self-center 
                                    span.number.align-self-center 
                                    button.btn.ms-auto.px-3.py-1.fs-3
                                        span.user-plus.bi-person-plus
                                        span.user-minus.bi-person-dash-fill
                            h5 Athletes
                            ul#athlete_list.list-group

                        .tab-pane.fade#group-tab
                            p お試し
                                select#group.form-select(multiple=true)

        #configure.offcanvas.offcanvas-end
            .offcanvas-header.bg-dark.text-light 
                .offcanvas-title ヘルプ
                button.btn.btn-close.bg-light(data-bs-dismiss='offcanvas')
            .offcanvas-body 
                .container
                    h4(style='grid-column: span 2;') 使い方
                    .d-grid(style='grid-template-columns: 7em auto; gap 1rem 0.3rem; align-items: center; justify-items: center;')
                        .btn.btn-dark.btn-menu(data-bs-toggle='modal' data-bs-target='#navi' data-tab='#navi a[data-bs-target="#race-tab"]') Race 
                            span.bi-grid-fill
                        div リザルトを見たいレースが選べます
                        .btn.btn-dark.btn-menu(data-bs-toggle='modal' data-bs-target='#navi' data-tab='#navi a[data-bs-target="#athlete-tab"]') Athlete
                            span.bi-person-circle
                        div 出走アスリートの結果詳細をプロットします
                        .btn.btn-dark.btn-menu(data-bs-toggle='modal' data-bs-target='#navi' data-tab='#navi a[data-bs-target="#group-tab"]') Group 
                            span.bi-filter
                        div 全体リザルトを区分でフィルタします
                    
                    hr
                    h4 パネルの見方
                    .container.p-0.d-grid(style='justify-items: center;')
                        div メインのパネルは縦軸が順位、横軸がフィニッシュタイムです
                        img(src='/assets/thumbnail/panel_main.png')
                        div.mt-3 アスリートを一人以上選ぶと、追加のパネルが表示されます
                        div.mt-2 タイムパネルでは、アスリート間で競技別のフィニッシュタイムの違いが見れます
                        img(src='/assets/thumbnail/panel_time.png')
                        div.mt-2 スコアパネルでは、各アスリートのフィニッシュタイムを全体に対しての偏差値で見れます
                        img(src='/assets/thumbnail/panel_score.png')

                    hr
                    h4(style='grid-column: span 2;') ベータ機能
                    .d-grid(style='grid-template-columns: 3fr 3em; align-items: center;')
                        span ホームに追加 (Android)
                        button.btn.btn-secondary.bi-box-arrow-in-down#install_app_button

                    .mt-4 v#{now}

        // Content section
        section#course
            h1.course_name
            #course_summary

        #view
            section.template#lap_panel.panel
                h3.course_name
                h2.marker
                    span.lap_name 総合
                    span.distance.range
                .chart
                    canvas
                ul.ranking 
                    li.template#ranking_item 
                        span.circle 
                        span.display_name Name
                        span.time 00:12:32
                        span.delta +12:32

            #panel_positioner.d-none 

            section#lap_time.panel.summary.d-none
                h3.course_name 
                h2.marker-lap_time タイム
                include ../template/lap_time_summary.pug

            section#lap_score.panel.summary.d-none
                h3.course_name 
                h2.marker-lap_time 
                    | スコア
                    span.btn.bi-info-circle(style='padding: 0.2rem 0.5rem; vertical-align: baseline;'
                        data-bs-toggle='tooltip' 
                        data-bs-placement='top' 
                        data-bs-title='レース結果を母集団とした偏差値です')
                include ../template/lap_score_summary.pug

        section#share-list 
            ul.share-container
                li.share-item Share by
                li#share-link.share-item.btn
                    img(src='assets/icon/link.png')
                li#share-qr.share-item.btn
                    img(src='assets/icon/qrcode.png')
                li#share-x.share-item.btn
                    a#share-x-link
                        img(src='assets/icon/x-logo-black.png')

        // Footer
        footer.py-3(style="background-color: hsl(240deg, 80%, 8%);")
            .container
                .d-grid.text-white(style='grid-auto-flow: column; grid-template-columns: 1fr auto auto auto 1fr; column-gap: 0.5rem; align-items: center;')
                    .dummy
                    img.img-fluid.rounded-1.mx-2.fs-4.emoji(src='assets/rotate_umbllera_2024-04-25.webp')
                    svg(style='height: 4ex; padding-top: 0.8ex;' fill='white' viewBox='24 0 128 38' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Amamiya')
                        include ./amamiya.svg.pug
                    span &copy; 2024
                    .dummy

        // Toast
        .toast-container.position-fixed.bottom-0.end-0.pe-3
            #hide_toast.toast.alert.p-0(data-bs-autohide='true')
                .toast-header 
                    strong.toast-message.me-auto Hello, world 
                    button.btn-close(data-bs-dismiss='toast')
                .toast-body.d-none
            #no_hide_toast.toast.alert.p-0(data-bs-autohide='false')
                .toast-header 
                    strong.toast-message.me-auto Hello, world 
                    button.btn-close(data-bs-dismiss='toast')
                .toast-body

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')
